#header{
    width: 100%;
    height: 125vh;
    background-image: url(/img/banner.png);
    background-size: 100% 100%;
}
.container{
    max-width: 80%;
    margin: 0 auto;
}
a{
    color: black;
    font-weight: bold;
}
img{
    width: 100%;
    height: 100%;
    display: block;
}
.navigation{
    width: 55%;
    height: 13vh;
}
.navbar{
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_nav a{
font-size: 0.9rem;
margin-left: 2rem;
margin-right: 2rem;
color: white;
text-transform: uppercase;
}
.navbar_nav i{
    color: black;
    font-size: 2rem;
    font-weight: bold;
}
.nav__logo{
    margin-left: 3rem;
    margin-top: 20px;
}
.navbar_nav a:hover{
    color: black;
transition: all 0.4s linear;
}
.banner__contact{
    display: grid;
    grid-template-columns: repeat(2,1fr );
    gap: 3rem   ;
   margin-top: 12rem;
}
.banner__contact .item:first-of-type{
    width: 75%;
}
.banner h1{
    font-size: 2.5rem;
    color: white;
    line-height: 62px;
}
.banner p{
    color: white;
    line-height: 25px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.banner button{
    padding: 15px 45px ;
    font-size: 1.1rem;
    color: rgb(77, 178, 255);
    border: 0;
    border-radius: 10px;
    transition: all 0.6s linear;
}
.banner button:hover{
    background-color: black;
    color: white;
    border-radius: 30px;
}
.incriys{
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
}
.incriys .title{
    text-align: center;
    opacity: 0.8;
    margin-top: 5rem;
}
.incriys .title h3{
    color: rgb(53, 136, 252);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    
}
.incriys .title h2{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.incriys_contact{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-top: 2rem;
    text-align: center;  
}
.incriys_contact p{
   line-height: 24px;
   margin-bottom: 2rem;
}
.incriys_contact button{
    padding: 15px 50px ;
    transition: all 0.5s linear;
    background-color: black;
    font-size: 1.1rem;
    border-radius: 15px;
    color: white;
    border: 0;
}
.midil img{
    width: 20%;
    height: 70vh;
    margin-left: 80%;
}
.buy{
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
}
.buy .title{
    text-align: center;
    opacity: 0.8;
    margin-top: 5rem;
}
.buy .title h3{
    color: rgb(53, 136, 252);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    
}
.buy .title h2{
    font-size:2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.buy_contact{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-top: 2rem;
    text-align: center;  
}
.buy_contact img{
    width: 40%;
    height: 70vh;
    margin-left: 30%; 
    margin-bottom: 3rem;  
}
.buy_contact p{
   line-height: 24px;
   margin-bottom: 2rem;
}
.buy_contact button{
    padding: 15px 50px ;
    transition: all 0.5s linear;
    background-color: black;
    font-size: 1.1rem;
    border-radius: 15px;
    color: white;
    border: 0;
}

.sell_contact button:hover{
    background-color: rgb(16, 163, 255);
    transition: all 0.5s linear;
    border-radius:30px ;
}
.incriys .imegs{
   margin-top: -10rem;

}
.incriys .imegs img{
    margin-left: 80%;
    width: 20%;
}
.biznes{
    width: 100% ;
    height: 100%;
}
.biznes .title{
    text-align: center;
    opacity: 0.8;
    margin-top: 10rem;
}
.biznes .title h3{
    color: rgb(53, 136, 252);
    font-size: 1.9rem;
    margin-bottom: 1rem;
}
.biznes .title h2{
    font-size:2.5rem ;
    margin-bottom: 1rem;
}

.biznes__contact{
    width: 80%;
margin: 0 auto;
    margin-top:8vh;
    text-align: center;
}
.biznes__contact img{
    width: 40%;
    margin: 0 auto;
}
.biznes__contact p{
margin-top: 2rem;
opacity: 0.9;
margin-bottom: 2rem;

}
.biznes__contact button{
    padding: 13px 40px ;
    background-color: black;
    color: white;
    font-size: 1.1rem;
    border: 0;
    border-radius: 10px;
    transition: all 0.5s linear;
}
.biznes__contact button:hover{
    border-radius: 30px     ;
    background-color: dodgerblue;
    transition: all 0.5s linear;

}
.text{
    width: 70%;
    height: 70vh;
    background-image: url(/img/test.png);
    background-size: 100% 100%;
    margin:0 auto   ;
    margin-top: 7rem;
}
.text .title h2{
    text-align: center;
    color: white;
    font-size: 2.3rem;
   padding-top: 70px;
}
.text__contact{
   display: grid;
   grid-template-columns: 30% 70%;
   margin-top: 5rem;
   color: white;
}
.text__contact img{
    width: 45%;
    margin-left: 5rem;
    border: 10px solid rgb(226, 226, 226);
    border-radius: 100%;
}
.text__contact img::before{
    position: absolute;
    content: "shsh";
    width: 20px ;
    height: 20px ;
    border: 8px solid red;
}
.text__contact h3{
    margin-bottom: 1rem;
}
.text__contact p{
    margin-right: 10rem;
    line-height: 22px; 
    margin-bottom: 0.5rem;
    opacity: 0.9;
}
.futer{
    width: 100%;
    height: 100%;
    text-align: center;
}
.futer .title{
    text-align: center;
    margin-top: 6rem;
}
.futer .title h2{
    font-size: 2.2rem;
    margin-bottom: 0.7rem;
}
.futer__contact{
    width: 70%;
    height: 100%;
    border: 1px solid dodgerblue;
    border-radius: 17px;
    padding: 20px 20px 20px 20px ;
    display: grid;
    align-items: center;
    margin: 0 auto;
    margin-top: 2rem;

}
.futer input{
    margin-top: 2.2rem;
    border: 0;
    outline: 0;   
    background: 0;
    border-bottom: 1px solid dodgerblue;
    font-size: 1.1rem;
    color: dodgerblue;
}
.futer textarea{
    border: 0;
    outline: 0;   
    margin-top: 2rem;
    background: 0;
    border-bottom: 1px solid dodgerblue;
    font-size: 1.1rem;
}
.futer__contact button{
    padding: 13px 40px ;
    width: 20%;
    margin: 0 auto;
    background-color: black;
    color: white;
    border: 0;
  margin-top: 2rem;
  transition: all 0.5s linear;
}
.futer__contact button:hover{
    background-color: dodgerblue;
    transition: all 0.5s linear;
    border-radius: 30px;

}
.futer h2{
    color: dodgerblue;
    margin-top: 7rem;
    font-size: 1.8rem;
}
.futer h3{
    font-size: 1.8rem;
}
.futer .brans i{
    border-radius: 100%;
    color: darkred;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    padding: 13px 15px ;
    margin-top: 1rem;
    margin-left: 1rem;
    transition: all 0.5s linear;
}
.futer i:hover{
    background-color: black;
    box-shadow: 0;
}
.img{
    overflow: hidden;
    margin-top: -10rem;

}
.img img{
    margin-left: 80%;
    width: 20%;
}
.copyright{
    background-color: rgb(34, 143, 252);
    height: 10vh;
    color: white;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buy .incriys_contact img{
    width: 20%;
    margin: 0 auto;
}
.client_contact img{
    width: 75%;
    align-items: center;
}